.container {
  width: 100%;
  height: var(--height);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/imgs/page22/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

:global(.page23-text-1) {
  position: absolute;
  top: 10%;
  left: 12%;
  width: 76%;
  z-index: 12;
  color: #000;
  font-weight: 400;
}

:global(.page23-tree-m) {
	position: absolute;
	width: 95%;
	height: 50%;
	bottom: 10%;
  left: 2.5%;
	transform: translateX(-50%);
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
}

:global(.page23-tree-m) > .relative { width: 64%; height: 90%; }

:global(.page23-2024) {
  position: absolute;
  top: 84%;
  left: 17%;
  width: 4.5rem;
  height: 4.5rem;
  z-index: 12;
  color: #000;
}

:global(.page23-2023){
  position: absolute;
  top: 14%;
  right: 7%;
  width: 4.2rem;
  height: 4.5rem;
  color: #000;
  z-index: 15;
}

:global(.page23-2025){
  position: absolute;
  top: 79%;
  left: 62%;
  width: 2rem;
  color: #000;
  height: 1rem;
  z-index: 15;
}


/* Tree-like assets positions */
:global(.page23-mango) {
  position: absolute;
  bottom: 20%;
  left: 12%;
  width: 4.5rem;
  height: 4.5rem;
  z-index: 11;
}

:global(.page23-mangoes) {
  position: absolute;
  bottom: 22%;
  right: 10%;
  width: 7rem;
  height: 4.5rem;
  z-index: 9;
}

:global(.page23-chat_b2023) {
  position: absolute;
  top: 12%;
  right: 15%;
  width: 4.5rem;
  height: 4.5rem;
  z-index: 12;
}

:global(.page23-chat_b2024) {
  position: absolute;
  top: 80%;
  left: 10%;
  width: 4.5rem;
  height: 4.5rem;
  z-index: 12;
}

:global(.page23-chat_b2025) {
  position: absolute;
  top: 75%;
  left: 55%;
  width: 4.5rem;
  height: 4.5rem;
  z-index: 12;
}


@media (max-width: 420px) {
  :global(.page23-tree-m) {height: 50%;
    bottom: 25%; }
}

/* Tree grow states (small -> big) */
:global(.smallTree), :global(.bigTree) {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform-origin: bottom center;
  will-change: transform, opacity;
}

:global(.smallTree) {
  transform: scale(0.3) translateY(10%);
  opacity: 1;
  transition: transform 0.6s cubic-bezier(0.34,1.56,0.64,1), opacity 0.4s ease-out;
}

:global(.smallTreeHidden) {
  transform: scale(0) translateY(10%);
  opacity: 0;
}

:global(.bigTree) {
  transform: scale(0.2) translateY(8%);
  opacity: 0;
  transition: transform 0.9s cubic-bezier(0.34,1.56,0.64,1), opacity 0.5s ease-out;
}

:global(.bigTreeActive) {
  transform: scale(1.05) translateY(0%);
  opacity: 1;
}
